Table, th, td{
    border: 1px solid rgb(0, 0, 0);
    border-collapse: collapse;
    /* center the table */
    /* move the table to the center of the page */
    margin: 0 auto;

}
table {
       background-color: rgb(177, 155, 155);
    margin-top: 5%;
}
body{
  background-image: url(hancock.jpg) ; /* The image used */
 
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}