table, th, td{
    border: 1px solid rgb(138, 9, 9);
    border-collapse; collapse;
    /* center the table */
    /* move the table to the center of the page */
    margin: 0 auto;

}
table {
       background-color: bisque;
    margin-top: 30%;
}

body{
  background-image: url(sunset.jpg) ; /* The image used */
 
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
