Table, th, td{
    border: 3px solid rgb(163, 68, 68);
    border-collapse:collapse collapse;
    /* center the table */
    /* move the table to the center of the page */
    margin: 0 auto;

}
table {
       background-color: rgba(255, 255, 255, 0.616);
    margin-top: 2%;
    b
}
body{
  background-image: url(gambino.jpg) ; margin /* The image used */
 
 
}