

    header h1 {
      margin: 0;
      font-weight: 700;
      font-size: 2.5rem;
      letter-spacing: 1px;
    }

    main {
      max-width: 900px;
      margin: 2rem auto;
      padding: 0 1rem;
    }

    section {
      margin-bottom: 3rem;
      background: #fff;
      padding: 2rem;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(58, 90, 64, 0.1);
    }

    section h2 {
      color: #0e0e0e;
      margin-top: 0;
      font-size: 1.8rem;
      border-bottom: 2px solid #8797af;
      padding-bottom: 0.3rem;
      margin-bottom: 1rem;
    }

    section p {
      font-size: 1.1rem;
      color: #8797af;
    }

    .highlight {
      color: #8797af;
      font-weight: 600;
    }
    table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

th, td {
  padding: 15px 20px;
  text-align: left;
}

th {
  background-color:  #8797af;
  color: white;
  font-size: 1.1em;
}

tr:nth-child(even) {
  background-color: #f0f6fc;
}

tr:hover {
  background-color: #d0e4ff;
}

caption {
  caption-side: top;
  font-size: 1.5em;
  margin-bottom: 15px;
  font-weight: bold;
  color: #2c3e50;
}

  