body {
    margin: 0px;
    background-color: #bed0e6;
}

main {
    margin-left: 20px;
}

h1 {
    text-align: center;
    color: #1b0735;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:
        #8797af;
}

.navbar li {
    float: right;

}

.navbar a {
    display: block;
    color: rgb(18, 15, 49);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 30px;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
}

.navbar a:hover {
    background-color: #a7adc6;

}


table {
    border-collapse: collapse;
    width: 40%;
    margin: 20px auto;
      margin-left: 0;
  margin-right: auto;
  /* Optional: ensures text inside is also left aligned if needed */
  text-align: left; 
}

th,
td {
    border: 1px solid #333;
    padding: 8px 12px;
    text-align: center;
    vertical-align: middle;
}

form {
    margin: 0;
}

input[type="text"],
select {
    width: 90%;
    padding: 4px;
    box-sizing: border-box;
}

input[type="email"],
select {
    width: 90%;
    padding: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    padding: 6px 12px;
    cursor: pointer;
}

