 .smallbox {
            display: flex;
        
        }

        .box {
            flex: 1;
            margin: 2px;
            padding: 50px;
            border: 5px solid #000000;
            width: 300px;
            height: 100px;
            background-color: azure;
        }
    #hero{
        width: 100%;
        height: 300px;
        margin: 2px;
        border: 5px solid black;
    }

    #gallery{
        width: 100%;
        height: 300px;
        margin: 2px;
    
        border: 5px solid black;
    }